*{
    padding: 0;
    margin: 0;

}
.headerimage{
    /* background-color: aqua; */
    width: 100%;
    height: 18.6rem;
}
.headerimage img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    opacity: 0.9;
    height: 100%;
}
.headerdiv{
    display: flex;
}
.headerdiv__logo{
    margin-left: 4rem;
    margin-top: 4rem;
    position: relative;
    bottom: 18rem;
}
.headerdiv__enlaces{
    /* margin-left: 40rem; */
    position: relative;
    bottom: 14rem;
    /* background-color: black; */
    left: 43rem;
}
.headerdiv__enlaces a{
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* font-weight: bold; */
}
.headerdiv__rs{
    margin-top: 4rem;
}
.headerdiv__rs i{
    color: #F7F7F7;
    margin-left: 2.5rem;
    position: relative;
    bottom: 17.8rem;
    left: 42rem;
    /* color: red; */
}
.headerdiv__rs i:hover{
    cursor: pointer;
}
.headerdiv__enlaces a:nth-of-type(4){
    border: 3px solid #F7F7F7;
    color: white;
    padding: 3px 10px;
}
.headerdiv__enlaces a:hover{
    border-bottom: 3px solid #B59472;
}
.headerdiv__rs i:hover{
    border-bottom: 3px solid #B59472;
}
.header__titulo{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    position: relative;
    bottom: 20rem;
}
.header__titulo p{
    font-size: 30px;
    
}
.header__tituloo{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20rem;
}
.header__tituloo h1{
    color: white;
    font-size: 100px;
    margin-top: -1rem;
}
.header__reserva{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 3px solid white;
    width: 9rem;
    margin-left: 56rem;
    padding: 15px;
    position: relative;
    bottom: 20rem;
    
}
.header__reserva a{
    text-decoration: none;
    color: white;
}
.header__reserva:hover{
    background-color: #F7F7F7;
    transition: 0.2s;
}
.header__reserva a:hover{
    color: black;
}
.accion{
    background-color: black; 
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.accion__covid{
    font-size: 20px;
    margin-left: 7rem;
}
.accion__plan h1{
    font-size: 55px;
    text-align: center;
}
.accion__plan{
    margin-left: 48rem;
    width: 30rem;
}
.accion__covid, .accion__plan{
    text-align: center;
    color: white;
}
.accion__ul{
    margin-left: 5rem;
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    color: white;
}
.accion__ul li{
    list-style-type: none;
    text-align: center;
}
.accion__a a{
    text-decoration: none;
    color: white;
}
.accion__a{
    background-color: #B59472;
    width: 25rem;
    margin-left: 51rem;
    padding: 6px 10px;
    text-align: center;
    font-size: 18px;
}
.accion__a:hover{
    background-color: black;
}
.accion__a a:hover{
    color: #B59472;
}
.conocenos{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.conocenos__conocenos{
    text-align: center;
    font-size: 23px;
}
.conocenos__titulo{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.conocenos__p{
    text-align: center;
    color: #B59472;
    font-size: 23px;
}
.conocenos__a a{
    text-decoration: none;
    margin-left: 3rem;
    color: black;
}
.conocenos__a{
    text-align: center;
    font-size: 23px;
    
}
.conocenos__a a:hover{
    border-bottom: 3.5px solid black;
}
.compromiso{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.compromiso__img img{
    width: 59.5rem;
    height: 35rem;
}
.compromiso__compromiso{
    color: white;
    background-color: black;
    width: 59.44rem;
}
.compromiso__compromiso p:nth-of-type(1){
    width: 8rem;
    border-bottom: 3px solid white;
    color: #B59472;
    text-align: center;
    font-size: 20px;
    margin-top: 4rem;
    margin-left: 7rem;

    
}
.compromiso__compromiso h2{
    font-size: 40px;
    margin-left: 7rem;
}
.compromiso__p{
    width: 40rem;
    text-align: left;
    font-size: 23px;
    margin-left: 7rem;
    margin-top: 3rem;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.servicios__card img{
    width: 5rem;
}
.servicios__card{
    text-align: center;
    margin-top: 3rem;
}
.servicios__card h3{
    margin-top: 1.5rem;
    font-weight: bold;
}
.servicios__card p{
    margin-top: 1.5rem;
}
.intento{
    background-image: url(https://fondosmil.com/fondo/64240.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    text-align: center;
    height: 30rem;
    color: white;
    margin-top: 5rem;

}
.intento__titulo:not(.intento){
    position: relative;
    top: 10rem;
}
.intento__titulo h2{
    color: #B59472;
    font-weight: bold;
    font-size: 3rem;
}
.intento__titulo p{
    font-weight: bold;

}
.sponsors{
    margin-left: 30rem;
}
.sponsors__primer img{
    width: 8rem;
    margin-left: 5rem;
}
.sponsors__primer{
    width: 50rem;
    margin-left: 7rem;
}
.sponsors__segun{
    width: 50rem;
    display: flex;
    margin-top: 1rem;
}
.sponsors__segun img{
    width: 8rem;
    margin-left: 5rem;
}
.sponsors__tercer{
    width: 50rem;
    display: flex;
    margin-top: 2rem;
    margin-left: 44rem;
}
.sponsors__tercer img{
    width: 8rem;
    margin-left: 5rem;
}
.conocenos__conocenos:nth-last-of-type(2){
    background-color: #B59472;
    margin-top: 5.5rem;
}
.sponsors__sponsors{
    text-align: center;
    font-size: 23px;
    margin-top: 5.5rem;
}
.maps{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}
.contactoindex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5rem;
}
.formindex{
    background-color: #F9F9F7;
}
.contactoindex__derecha{
    text-align: center;
}
.rsindex{
    text-align: center;
    font-size: 23px;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}
.rsindex i{
    margin-top: 2rem;
    font-size: 3rem;
    margin-left: 4rem;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

/***********************************************************************TIENDA ONLINE***************************************************************************
************************************************************************TIENDA ONLINE***************************************************************************
************************************************************************TIENDA ONLINE***************************************************************************/
.headertienda{
    background-image: url(https://thebarberia.com/storage/UPkiVcHIfQvVhfRqe6zEjm2XkOTO5M2BlGIb4VCj.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 50rem;
}

.headertienda__tituloo{
    background: linear-gradient(rgba(5,7,12,0.5), rgba(5,7,12,0.5));
    margin-top: 15rem;
    margin-left: 40rem;
    width: 35rem;
    text-align: center;
}
.headertienda__tituloo span{
    color: red;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}
.headertienda__tituloo h1{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.row div{
    border: 1px solid black;
    text-align: center;
}
.tiendaitems img{
    width: 10rem;
}
.tiendaitems a{
    text-decoration: none;
    background-color: aqua;
    color: black;
    padding: 4px 20px;
    border-radius: 5px;
}
.tiendaitems a:hover{
    background-color: rgb(11, 189, 189);
    transition: 0.2s;
}
.imgtienda img{
    width: 5rem;
}
.table th{
    width: 30rem;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.table td{
    text-align: center;
}
/* .table img{
    width: 100px;
} */
.table #vaciar-carrito{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.table #vaciar-carrito:hover{
    background-color: rgb(11, 189, 189);
    transition: 0.2s;
}


/*RESPONSIVE*/

@media only screen and (max-width: 768px) {
    .headerimage {
        height: 10rem; /* Altura ajustada para celulares */
    }
    .headerdiv__enlaces, .headerdiv__rs{
        display: none;
    }
    .header__reserva {
        margin-left: auto; /* Elimina el margen izquierdo */
        margin-right: auto; /* Elimina el margen derecho */
        width: 80%; /* Cambia el ancho para adaptarse al tamaño de la pantalla */
        bottom: 0; /* Coloca el elemento en la parte inferior */
    }
    .accion__covid,
    .accion__plan,
    .accion__ul,
    .accion__a {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0; /* Elimina el margen derecho */
        width: 100%; /* Ajusta el ancho al 100% */
        font-size: 18px; /* Ajusta el tamaño de fuente */
    }
    .accion__a {
        width: 80%; /* Reduzca el ancho del botón */
        margin: 0 auto; /* Centra horizontalmente */
    }
    .conocenos__conocenos,
    .conocenos__titulo,
    .conocenos__p,
    .conocenos__a {
        font-size: 18px; /* Ajusta el tamaño de fuente */
    }
    .servicios {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna en pantallas pequeñas */
        gap: 20px; /* Agrega espacio entre las tarjetas */
    }
    .servicios__card img {
        width: 5rem;
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
    
    .servicios__card {
        text-align: center;
        margin-top: 3rem;
    }
    
    .servicios__card h3 {
        margin-top: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem; /* Tamaño de fuente ajustado para pantallas pequeñas */
    }
    
    .servicios__card p {
        margin-top: 1.5rem;
        font-size: 0.9rem; /* Tamaño de fuente ajustado para pantallas pequeñas */
    }
    .intento__titulo {
        top: 5rem; /* Ajusta la posición del título para pantallas pequeñas */
    }

    .intento__titulo h2 {
        font-size: 2rem; /* Ajusta el tamaño del título para pantallas pequeñas */
    }
    .sponsors {
        margin-left: 5%; /* Ajuste para centrar el contenedor */
        margin-right: 5%; /* Ajuste para centrar el contenedor */
    }

    .sponsors__primer,
    .sponsors__segun,
    .sponsors__tercer {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0; /* Elimina el margen derecho */
    }

    .sponsors__primer img,
    .sponsors__segun img,
    .sponsors__tercer img {
        width: 6rem; /* Reducir el tamaño de las imágenes para pantallas pequeñas */
        margin-left: 1rem; /* Reducir el espacio entre las imágenes */
    }
    .maps {
        display: none;
    }
    .contactoindex {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    }
    .rsindex {
        margin-top: 3rem; /* Reduce el margen superior en pantallas pequeñas */
        margin-bottom: 3rem; /* Reduce el margen inferior en pantallas pequeñas */
    }

    .rsindex i {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
        display: block; /* Muestra los iconos en bloques para centrarlos */
        margin: 0 auto; /* Centra horizontalmente los iconos */
    }

    footer {
        padding-top: 1.5rem; /* Ajusta el relleno superior del pie de página en pantallas pequeñas */
        padding-bottom: 1.5rem; /* Ajusta el relleno inferior del pie de página en pantallas pequeñas */
    }
    .compromiso {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna en pantallas pequeñas */
    }
    
    .compromiso__img img {
        width: 100%; /* Ancho del 100% para adaptarse al contenedor */
        height: auto; /* Altura automática para mantener la proporción */
    }
    
    .compromiso__compromiso {
        color: white;
        background-color: black;
        width: 100%; /* Ancho del 100% para adaptarse al contenedor */
    }
    
    .compromiso__compromiso p:nth-of-type(1) {
        width: 100%; /* Ancho del 100% para ocupar toda la línea */
        border-bottom: 3px solid white;
        color: #B59472;
        text-align: center;
        font-size: 20px;
        margin-top: 4rem;
        margin-left: 0; /* Elimina el margen izquierdo */
    }
    
    .compromiso__compromiso h2 {
        font-size: 40px;
        margin-left: 0; /* Elimina el margen izquierdo */
    }
    
    .compromiso__p {
        width: 100%; /* Ancho del 100% para ocupar toda la línea */
        text-align: center; /* Centra el texto */
        font-size: 23px;
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 3rem;
    }
}



/* Media query para dispositivos con un ancho máximo de 1024px, como notebooks */
@media only screen and (max-width: 1024px) {
    .headerimage {
        height: 15rem; /* Altura ajustada para notebooks */
    }
    .headerdiv__enlaces a {
        margin-left: 1.5rem; /* Reducir el margen izquierdo para celulares */
        font-size: 16px; /* Reducir el tamaño de fuente para celulares */
    }

    .headerdiv__logo {
        margin-left: 3rem; /* Ajustar el margen izquierdo para notebooks */
        bottom: 16rem; /* Ajustar la posición hacia abajo para notebooks */
    }

    .headerdiv__enlaces {
        margin-left: 20rem; /* Ajustar el margen izquierdo para notebooks */
        bottom: 12rem; /* Ajustar la posición hacia abajo para notebooks */
    }

    .headerdiv__enlaces a {
        margin-left: 2rem; /* Ajustar el margen izquierdo para notebooks */
        font-size: 18px; /* Ajustar el tamaño de fuente para notebooks */
    }
    .header__reserva {
        margin-left: 20%; /* Ajusta el margen izquierdo */
    }

    .accion__plan {
        width: 60%; /* Ajusta el ancho para pantallas medianas */
        margin: 0 auto; /* Centra horizontalmente */
    }

    .accion__a {
        width: 50%; /* Reduzca el ancho del botón */
    }
    .conocenos__a {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 10px; /* Añade un espacio entre los enlaces */
    }

    .compromiso {
        grid-template-columns: repeat(2, 1fr); /* Cambia de nuevo a dos columnas */
    }

    .compromiso__compromiso {
        width: 90%; /* Ajusta el ancho para pantallas medianas */
        margin: 0 auto; /* Centra horizontalmente */
    }

    .compromiso__img img {
        width: 100%; /* Ancho del 100% para adaptarse al contenedor */
        height: auto; /* Altura automática para mantener la proporción */
    }

    .compromiso__p {
        text-align: left; /* Alinea el texto a la izquierda */
    }
    .servicios {
        grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas medianas */
    }
    .intento__titulo {
        top: 7rem; /* Ajusta la posición del título para notebooks */
    }

    .intento__titulo h2 {
        font-size: 2.5rem; /* Ajusta el tamaño del título para notebooks */
    }
}

