<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/estilos.css">
    <link rel="stylesheet" href="../Css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <title>TiendaOnline</title>
</head>
<body>
  <header class="headertienda">
    <div class="headerdiv">
      <div class="headerdiv__logo">
        <img src="" alt="" srcset="https://www.labarberia.cl/images/demo/logo-alt.png">
      </div>
      <div class="headerdiv__enlaces">
          <a href="index.html">Inicio</a>
          <a href="#">Nosotros</a>
          <a href="#">Servicios</a>
          <a href="#">Reserva</a>
          <a href="tienda.html">Tienda online</a>
          <a href="#">Contacto</a>
      </div>
    </div>

  </header>

  <div id="lista-cursos" class="tiendacontenedor">
    <div class="row">

      <div class="tiendaitems">
        <div class="imgtienda">
          <img srcset="https://http2.mlstatic.com/D_NQ_NP_759558-MLA48341434438_112021-O.jpg">
        </div>
        
        <div class="tiendaitems-info">
          <h4>FIGURA POP GAMES: OVERWATCH - BAPTISTE</h4>
          <p>10000</p>
          <a href="#" class="agregar-carrito" data-id="1">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="https://www.weplay.cl/pub/media/catalog/product/cache/3135f28587838cb58c30c8a955a56da9/8/8/8896985106390.jpeg">
        <div class="tiendaitems-info">
          <h4>POP PLUSH: DC HOLIDAY- SANTA JOKER</h4>
          <p>20000</p>
          <a href="#" class="agregar-carrito" data-id="2">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="https://www.weplay.cl/pub/media/catalog/product/cache/3135f28587838cb58c30c8a955a56da9/8/8/8896984686640_3.jpeg">
        <div class="tiendaitems-info">
          <h4>FIGURA POP MARVEL: MAX VENOM - 10"GROOT</h4>
          <p>30000</p>
          <a href="#" class="agregar-carrito" data-id="3">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img src="../MEDIA/cart.png"">
        <div class="tiendaitems-info">
          <h4>FIGURA POP STAR WARS: YODA (GR CH) EXCLUSIVO WEPLAY</h4>
          <p>40000</p>
          <a href="#" class="agregar-carrito" data-id="4">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="https://www.weplay.cl/pub/media/catalog/product/cache/3135f28587838cb58c30c8a955a56da9/8/8/8896984645360.jpeg">
        <div class="tiendaitems-info">
          <h4>FIGURA POP MARVEL: MARVEL VENOM S3 - PUNISHER</h4>
          <p>50000</p>
          <a href="#" class="agregar-carrito" data-id="5">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="../MEDIA/producto1.jpg">
        <div class="tiendaitems-info">
          <h4>FIGURA POP ROCKS: DEF LEPPARD - RICK SAVAGE</h4>
          <p>60000</p>
          <a href="#" class="agregar-carrito" data-id="6">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="https://www.weplay.cl/pub/media/catalog/product/cache/3135f28587838cb58c30c8a955a56da9/p/o/pop_sdcc_toystory_erizo.jpg">
        <div class="tiendaitems-info">
          <h4>FIGURA POP DISNEY: TOY STORY - MR. PRICKLEPANTS</h4>
          <p>70000</p>
          <a href="#" class="agregar-carrito" data-id="7">Agregar Al Carrito</a>
        </div>
      </div>

      <div class="tiendaitems">
        <img srcset="..">
        <div class="tiendaitems-info">
          <h4>POP HORROR: GREMLINS 2 - FLASHING GREMLIN</h4>
          <p>80000</p>
          <a href="#" class="agregar-carrito" data-id="8">Agregar Al Carrito</a>
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <ul>
      <li>
        <div id="carrito">
          <table id="lista-carrito">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <a href="#" id="vaciar-carrito">Vaciar Carrito</a>
        </div>
      </li>
    </ul>
  </div> 


     

  <script src="../javascript/js.js"></script>
</body>
</html>